[submodule "lib/Genesis"]
	path = lib/Genesis
	url = https://github.com/Genesis-Embodied-AI/Genesis.git
[submodule "lib/rsl_rl"]
	path = lib/rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl.git
[submodule "lib/IsaacLab"]
	path = lib/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab
